export(
       "code",
       "runcode",
       "skipcode",
       "loadcache",
       "cacher",
       "cc",
       "setConfig",
       "getConfig",
       "sourcefile",
       "cache",
       "showobjects",
       "package",
       "clonecache"
       )

import(digest)
import(utils)
import(tools)
